body {
  font-size: 3.5rem;
}

.container {
  display: flex;
  width: 250px;
}
.keypad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
input {
  height: 70px;
  width: 90%;
  margin: 5px;
  border-radius: 9px;
  font-size: 30px;
}

/* button styling */

button {
  height: 50px;
  width: 50px;
  font-family: roboto;
  font-size: 1rem;
  margin: 5px;
  border-radius: 6px;
}
